body {
	margin: 0;
}
.header {
	background-color: black;
	color: white;
}
.header_text {
	margin: auto;
	width: 50%;
	padding-left: 10px;
}
h1, h2, h3, h4, h5 {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", "Arial", sans-serif;
}
p {
	font-family: "Calibri";
	margin-top: 0em;
}
.HP_about {
	margin: auto;
	width: 50%;
	padding-left: 10px;
}
h2, h4 {
	margin-bottom: 0em;
}
.article_options {
	margin: auto;
	width: 50%;
}
.Col-1 {
	position: relative;
	float: left;
	background-image: url("images/family.jpg");
	height: 200px;
	width: 300px;
	background-size: contain;
	background-repeat: none;
	margin: 2px 2px;
}
.Col-2 {
	position: relative;
	float: left;
	background-image: url("images/adventure.jpg");
	height: 200px;
	width: 300px;
	background-size: contain;
	background-repeat: none;
	margin: 2px 2px;
}
.inner_col {
	height: 25%;
	width: 100%;
	background: rgba(255, 255, 255, .5);
	vertical-align: bottom;
	color: black;
	position: absolute;
	bottom: 5px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 20px;
}
.handraiser {

}
